body {
    font-family: Arial, sans-serif;
    background-image: url('https://2.z.wiki/autoupload/20250525/CcEb/1366X768/021748889cc29cfb4b1cbdba3a030eea.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: auto;
}

h1, h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.lang-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above the background */
}

.lang-toggle:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
